In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import datatable as dt

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.options.display.max_rows = 999

#### Reading in the airquality data

In [33]:
airquality = dt.fread("../datasets/airquality.csv")

In [35]:
airquality = airquality.to_pandas()

In [6]:
airquality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 7 columns):
Date       153 non-null object
Ozone      116 non-null float64
Solar.R    146 non-null float64
Wind       153 non-null float64
Temp       153 non-null int32
Month      153 non-null int32
Day        153 non-null int32
dtypes: float64(3), int32(3), object(1)
memory usage: 6.7+ KB

# Melting data

In [7]:
airquality.head()

         Date  Ozone  Solar.R  Wind  Temp  Month  Day
0  1973-05-01   41.0    190.0   7.4    67      5    1
1  1973-05-02   36.0    118.0   8.0    72      5    2
2  1973-05-03   12.0    149.0  12.6    74      5    3
3  1973-05-04   18.0    313.0  11.5    62      5    4
4  1973-05-05    NaN      NaN  14.3    56      5    5

In [9]:
airquality_melt=pd.melt(frame=airquality, id_vars='Date', value_vars=['Ozone', 'Solar.R', 'Wind', 'Temp'])

In [10]:
airquality_melt.head()

         Date variable  value
0  1973-05-01    Ozone   41.0
1  1973-05-02    Ozone   36.0
2  1973-05-03    Ozone   12.0
3  1973-05-04    Ozone   18.0
4  1973-05-05    Ozone    NaN

In [11]:
airquality_melt=pd.melt(frame=airquality, id_vars='Date', value_vars=['Ozone', 'Solar.R', 'Wind', 'Temp'], 
                        var_name='measurement', 
                       value_name = 'reading')
airquality_melt.head()

         Date measurement  reading
0  1973-05-01       Ozone     41.0
1  1973-05-02       Ozone     36.0
2  1973-05-03       Ozone     12.0
3  1973-05-04       Ozone     18.0
4  1973-05-05       Ozone      NaN

# Pivot() : UN-melting data

In [13]:
# While melting takes a set of columns and turns it into a single column, 
# pivoting will create a new column for each unique value in a specified column.

In [15]:
# .pivot_table() has an index parameter which you can use to 
# specify the columns that you don't want pivoted: It is similar to the id_vars parameter of pd.melt(). 
# Two other parameters that you have to specify are columns (the name of the column you want to pivot), 
# and values (the values to be used when the column is pivoted).

In [16]:
airquality_melt.head()

         Date measurement  reading
0  1973-05-01       Ozone     41.0
1  1973-05-02       Ozone     36.0
2  1973-05-03       Ozone     12.0
3  1973-05-04       Ozone     18.0
4  1973-05-05       Ozone      NaN

In [25]:
airquality_melt.pivot_table(
    values='reading',
    index='Date',
    columns='measurement',
    
).head()

measurement  Ozone  Solar.R  Temp  Wind
Date
1973-05-01    41.0    190.0  67.0   7.4
1973-05-02    36.0    118.0  72.0   8.0
1973-05-03    12.0    149.0  74.0  12.6
1973-05-04    18.0    313.0  62.0  11.5
1973-05-05     NaN      NaN  56.0  14.3

In [36]:
airquality.head()

         Date  Ozone  Solar.R  Wind  Temp  Month  Day
0  1973-05-01   41.0    190.0   7.4    67      5    1
1  1973-05-02   36.0    118.0   8.0    72      5    2
2  1973-05-03   12.0    149.0  12.6    74      5    3
3  1973-05-04   18.0    313.0  11.5    62      5    4
4  1973-05-05    NaN      NaN  14.3    56      5    5

In [37]:
airquality.drop('Date',inplace=True, axis='columns')

In [40]:
airquality_melt = pd.melt(frame=airquality, id_vars=['Month', 'Day'], var_name='measurement', value_name='reading')

In [42]:
airquality_melt.head()

   Month  Day measurement  reading
0      5    1       Ozone     41.0
1      5    2       Ozone     36.0
2      5    3       Ozone     12.0
3      5    4       Ozone     18.0
4      5    5       Ozone      NaN

In [57]:
airquality_pivot = airquality_melt.pivot_table(index=['Month', 'Day'], columns='measurement', values='reading')

In [58]:
airquality_pivot

measurement  Ozone  Solar.R  Temp  Wind
Month Day
5     1       41.0    190.0  67.0   7.4
      2       36.0    118.0  72.0   8.0
      3       12.0    149.0  74.0  12.6
      4       18.0    313.0  62.0  11.5
      5        NaN      NaN  56.0  14.3
      6       28.0      NaN  66.0  14.9
      7       23.0    299.0  65.0   8.6
      8       19.0     99.0  59.0  13.8
      9        8.0     19.0  61.0  20.1
      10       NaN    194.0  69.0   8.6
      11       7.0      NaN  74.0   6.9
      12      16.0    256.0  69.0   9.7
      13      11.0    290.0  66.0   9.2
      14      14.0    274.0  68.0  10.9
      15      18.0     65.0  58.0  13.2
      16      14.0    334.0  64.0  11.5
      17      34.0    307.0  66.0  12.0
      18       6.0     78.0  57.0  18.4
      19      30.0    322.0  68.0  11.5
      20      11.0     44.0  62.0   9.7
      21       1.0      8.0  59.0   9.7
      22      11.0    320.0  73.0  16.6
      23       4.0     25.0  61.0   9.7
      24      32.0     92.0  61.0  12.0
      25       NaN     66.0  57.0  16.6
      26       NaN    266.0  58.0  14.9
      27       NaN      NaN  57.0   8.0
      28      23.0     13.0  67.0  12.0
      29      45.0    252.0  81.0  14.9
      30     115.0    223.0  79.0   5.7
      31      37.0    279.0  76.0   7.4
6     1        NaN    286.0  78.0   8.6
      2        NaN    287.0  74.0   9.7
      3        NaN    242.0  67.0  16.1
      4        NaN    186.0  84.0   9.2
      5        NaN    220.0  85.0   8.6
      6        NaN    264.0  79.0  14.3
      7       29.0    127.0  82.0   9.7
      8        NaN    273.0  87.0   6.9
      9       71.0    291.0  90.0  13.8
      10      39.0    323.0  87.0  11.5
      11       NaN    259.0  93.0  10.9
      12       NaN    250.0  92.0   9.2
      13      23.0    148.0  82.0   8.0
      14       NaN    332.0  80.0  13.8
      15       NaN    322.0  79.0  11.5
      16      21.0    191.0  77.0  14.9
      17      37.0    284.0  72.0  20.7
      18      20.0     37.0  65.0   9.2
      19      12.0    120.0  73.0  11.5
      20      13.0    137.0  76.0  10.3
      21       NaN    150.0  77.0   6.3
      22       NaN     59.0  76.0   1.7
      23       NaN     91.0  76.0   4.6
      24       NaN    250.0  76.0   6.3
      25       NaN    135.0  75.0   8.0
      26       NaN    127.0  78.0   8.0
      27       NaN     47.0  73.0  10.3
      28       NaN     98.0  80.0  11.5
      29       NaN     31.0  77.0  14.9
      30       NaN    138.0  83.0   8.0
7     1      135.0    269.0  84.0   4.1
      2       49.0    248.0  85.0   9.2
      3       32.0    236.0  81.0   9.2
      4        NaN    101.0  84.0  10.9
      5       64.0    175.0  83.0   4.6
      6       40.0    314.0  83.0  10.9
      7       77.0    276.0  88.0   5.1
      8       97.0    267.0  92.0   6.3
      9       97.0    272.0  92.0   5.7
      10      85.0    175.0  89.0   7.4
      11       NaN    139.0  82.0   8.6
      12      10.0    264.0  73.0  14.3
      13      27.0    175.0  81.0  14.9
      14       NaN    291.0  91.0  14.9
      15       7.0     48.0  80.0  14.3
      16      48.0    260.0  81.0   6.9
      17      35.0    274.0  82.0  10.3
      18      61.0    285.0  84.0   6.3
      19      79.0    187.0  87.0   5.1
      20      63.0    220.0  85.0  11.5
      21      16.0      7.0  74.0   6.9
      22       NaN    258.0  81.0   9.7
      23       NaN    295.0  82.0  11.5
      24      80.0    294.0  86.0   8.6
      25     108.0    223.0  85.0   8.0
      26      20.0     81.0  82.0   8.6
      27      52.0     82.0  86.0  12.0
      28      82.0    213.0  88.0   7.4
      29      50.0    275.0  86.0   7.4
      30      64.0    253.0  83.0   7.4
      31      59.0    254.0  81.0   9.2
8     1       39.0     83.0  81.0   6.9
      2        9.0     24.0  81.0  13.8
      3       16.0     77.0  82.0   7.4
      4       78.0      NaN  86.0   6.9
      5       35.0      NaN  85.0   7.4
      6       66.0      NaN  87.0   4.6
      7      122.0    255.0  89.0   4.0
      8       89.0    229.0  90.0  10.3
      9      110.0    207.0  90.0   8.0
      10       NaN    222.0  92.0   8.6
      11       NaN    137.0  86.0  11.5
      12      44.0    192.0  86.0  11.5
      13      28.0    273.0  82.0  11.5
      14      65.0    157.0  80.0   9.7
      15       NaN     64.0  79.0  11.5
      16      22.0     71.0  77.0  10.3
      17      59.0     51.0  79.0   6.3
      18      23.0    115.0  76.0   7.4
      19      31.0    244.0  78.0  10.9
      20      44.0    190.0  78.0  10.3
      21      21.0    259.0  77.0  15.5
      22       9.0     36.0  72.0  14.3
      23       NaN    255.0  75.0  12.6
      24      45.0    212.0  79.0   9.7
      25     168.0    238.0  81.0   3.4
      26      73.0    215.0  86.0   8.0
      27       NaN    153.0  88.0   5.7
      28      76.0    203.0  97.0   9.7
      29     118.0    225.0  94.0   2.3
      30      84.0    237.0  96.0   6.3
      31      85.0    188.0  94.0   6.3
9     1       96.0    167.0  91.0   6.9
      2       78.0    197.0  92.0   5.1
      3       73.0    183.0  93.0   2.8
      4       91.0    189.0  93.0   4.6
      5       47.0     95.0  87.0   7.4
      6       32.0     92.0  84.0  15.5
      7       20.0    252.0  80.0  10.9
      8       23.0    220.0  78.0  10.3
      9       21.0    230.0  75.0  10.9
      10      24.0    259.0  73.0   9.7
      11      44.0    236.0  81.0  14.9
      12      21.0    259.0  76.0  15.5
      13      28.0    238.0  77.0   6.3
      14       9.0     24.0  71.0  10.9
      15      13.0    112.0  71.0  11.5
      16      46.0    237.0  78.0   6.9
      17      18.0    224.0  67.0  13.8
      18      13.0     27.0  76.0  10.3
      19      24.0    238.0  68.0  10.3
      20      16.0    201.0  82.0   8.0
      21      13.0    238.0  64.0  12.6
      22      23.0     14.0  71.0   9.2
      23      36.0    139.0  81.0  10.3
      24       7.0     49.0  69.0  10.3
      25      14.0     20.0  63.0  16.6
      26      30.0    193.0  70.0   6.9
      27       NaN    145.0  77.0  13.2
      28      14.0    191.0  75.0  14.3
      29      18.0    131.0  76.0   8.0
      30      20.0    223.0  68.0  11.5

In [65]:
airquality_pivot.index

RangeIndex(start=0, stop=153, step=1)

In [53]:
airquality_pivot.loc[(5,1),:]

measurement
Ozone       41.0
Solar.R    190.0
Temp        67.0
Wind         7.4
Name: (5, 1), dtype: float64

In [62]:
airquality_pivot.reset_index(inplace=True)

In [64]:
airquality_pivot.index

RangeIndex(start=0, stop=153, step=1)

In [74]:
airquality_dup=pd.concat([airquality_melt, airquality_melt], axis = 'rows')

In [75]:
airquality_dup.head()

   Month  Day measurement  reading
0      5    1       Ozone     41.0
1      5    2       Ozone     36.0
2      5    3       Ozone     12.0
3      5    4       Ozone     18.0
4      5    5       Ozone      NaN

In [76]:
airquality_melt.shape

(612, 4)

In [77]:
airquality_dup.shape

(1224, 4)

In [81]:
airquality_dup.pivot_table(
    values='reading',
    index=['Month', 'Day'],
    columns='measurement', 
    aggfunc='mean'
    
    
)

measurement  Ozone  Solar.R  Temp  Wind
Month Day
5     1       41.0    190.0  67.0   7.4
      2       36.0    118.0  72.0   8.0
      3       12.0    149.0  74.0  12.6
      4       18.0    313.0  62.0  11.5
      5        NaN      NaN  56.0  14.3
      6       28.0      NaN  66.0  14.9
      7       23.0    299.0  65.0   8.6
      8       19.0     99.0  59.0  13.8
      9        8.0     19.0  61.0  20.1
      10       NaN    194.0  69.0   8.6
      11       7.0      NaN  74.0   6.9
      12      16.0    256.0  69.0   9.7
      13      11.0    290.0  66.0   9.2
      14      14.0    274.0  68.0  10.9
      15      18.0     65.0  58.0  13.2
      16      14.0    334.0  64.0  11.5
      17      34.0    307.0  66.0  12.0
      18       6.0     78.0  57.0  18.4
      19      30.0    322.0  68.0  11.5
      20      11.0     44.0  62.0   9.7
      21       1.0      8.0  59.0   9.7
      22      11.0    320.0  73.0  16.6
      23       4.0     25.0  61.0   9.7
      24      32.0     92.0  61.0  12.0
      25       NaN     66.0  57.0  16.6
      26       NaN    266.0  58.0  14.9
      27       NaN      NaN  57.0   8.0
      28      23.0     13.0  67.0  12.0
      29      45.0    252.0  81.0  14.9
      30     115.0    223.0  79.0   5.7
      31      37.0    279.0  76.0   7.4
6     1        NaN    286.0  78.0   8.6
      2        NaN    287.0  74.0   9.7
      3        NaN    242.0  67.0  16.1
      4        NaN    186.0  84.0   9.2
      5        NaN    220.0  85.0   8.6
      6        NaN    264.0  79.0  14.3
      7       29.0    127.0  82.0   9.7
      8        NaN    273.0  87.0   6.9
      9       71.0    291.0  90.0  13.8
      10      39.0    323.0  87.0  11.5
      11       NaN    259.0  93.0  10.9
      12       NaN    250.0  92.0   9.2
      13      23.0    148.0  82.0   8.0
      14       NaN    332.0  80.0  13.8
      15       NaN    322.0  79.0  11.5
      16      21.0    191.0  77.0  14.9
      17      37.0    284.0  72.0  20.7
      18      20.0     37.0  65.0   9.2
      19      12.0    120.0  73.0  11.5
      20      13.0    137.0  76.0  10.3
      21       NaN    150.0  77.0   6.3
      22       NaN     59.0  76.0   1.7
      23       NaN     91.0  76.0   4.6
      24       NaN    250.0  76.0   6.3
      25       NaN    135.0  75.0   8.0
      26       NaN    127.0  78.0   8.0
      27       NaN     47.0  73.0  10.3
      28       NaN     98.0  80.0  11.5
      29       NaN     31.0  77.0  14.9
      30       NaN    138.0  83.0   8.0
7     1      135.0    269.0  84.0   4.1
      2       49.0    248.0  85.0   9.2
      3       32.0    236.0  81.0   9.2
      4        NaN    101.0  84.0  10.9
      5       64.0    175.0  83.0   4.6
      6       40.0    314.0  83.0  10.9
      7       77.0    276.0  88.0   5.1
      8       97.0    267.0  92.0   6.3
      9       97.0    272.0  92.0   5.7
      10      85.0    175.0  89.0   7.4
      11       NaN    139.0  82.0   8.6
      12      10.0    264.0  73.0  14.3
      13      27.0    175.0  81.0  14.9
      14       NaN    291.0  91.0  14.9
      15       7.0     48.0  80.0  14.3
      16      48.0    260.0  81.0   6.9
      17      35.0    274.0  82.0  10.3
      18      61.0    285.0  84.0   6.3
      19      79.0    187.0  87.0   5.1
      20      63.0    220.0  85.0  11.5
      21      16.0      7.0  74.0   6.9
      22       NaN    258.0  81.0   9.7
      23       NaN    295.0  82.0  11.5
      24      80.0    294.0  86.0   8.6
      25     108.0    223.0  85.0   8.0
      26      20.0     81.0  82.0   8.6
      27      52.0     82.0  86.0  12.0
      28      82.0    213.0  88.0   7.4
      29      50.0    275.0  86.0   7.4
      30      64.0    253.0  83.0   7.4
      31      59.0    254.0  81.0   9.2
8     1       39.0     83.0  81.0   6.9
      2        9.0     24.0  81.0  13.8
      3       16.0     77.0  82.0   7.4
      4       78.0      NaN  86.0   6.9
      5       35.0      NaN  85.0   7.4
      6       66.0      NaN  87.0   4.6
      7      122.0    255.0  89.0   4.0
      8       89.0    229.0  90.0  10.3
      9      110.0    207.0  90.0   8.0
      10       NaN    222.0  92.0   8.6
      11       NaN    137.0  86.0  11.5
      12      44.0    192.0  86.0  11.5
      13      28.0    273.0  82.0  11.5
      14      65.0    157.0  80.0   9.7
      15       NaN     64.0  79.0  11.5
      16      22.0     71.0  77.0  10.3
      17      59.0     51.0  79.0   6.3
      18      23.0    115.0  76.0   7.4
      19      31.0    244.0  78.0  10.9
      20      44.0    190.0  78.0  10.3
      21      21.0    259.0  77.0  15.5
      22       9.0     36.0  72.0  14.3
      23       NaN    255.0  75.0  12.6
      24      45.0    212.0  79.0   9.7
      25     168.0    238.0  81.0   3.4
      26      73.0    215.0  86.0   8.0
      27       NaN    153.0  88.0   5.7
      28      76.0    203.0  97.0   9.7
      29     118.0    225.0  94.0   2.3
      30      84.0    237.0  96.0   6.3
      31      85.0    188.0  94.0   6.3
9     1       96.0    167.0  91.0   6.9
      2       78.0    197.0  92.0   5.1
      3       73.0    183.0  93.0   2.8
      4       91.0    189.0  93.0   4.6
      5       47.0     95.0  87.0   7.4
      6       32.0     92.0  84.0  15.5
      7       20.0    252.0  80.0  10.9
      8       23.0    220.0  78.0  10.3
      9       21.0    230.0  75.0  10.9
      10      24.0    259.0  73.0   9.7
      11      44.0    236.0  81.0  14.9
      12      21.0    259.0  76.0  15.5
      13      28.0    238.0  77.0   6.3
      14       9.0     24.0  71.0  10.9
      15      13.0    112.0  71.0  11.5
      16      46.0    237.0  78.0   6.9
      17      18.0    224.0  67.0  13.8
      18      13.0     27.0  76.0  10.3
      19      24.0    238.0  68.0  10.3
      20      16.0    201.0  82.0   8.0
      21      13.0    238.0  64.0  12.6
      22      23.0     14.0  71.0   9.2
      23      36.0    139.0  81.0  10.3
      24       7.0     49.0  69.0  10.3
      25      14.0     20.0  63.0  16.6
      26      30.0    193.0  70.0   6.9
      27       NaN    145.0  77.0  13.2
      28      14.0    191.0  75.0  14.3
      29      18.0    131.0  76.0   8.0
      30      20.0    223.0  68.0  11.5

# Split() and Get()

In [82]:
ebola=pd.read_csv("../datasets/ebola_data_db_format.csv")

In [83]:
ebola.head()

                                           Indicator Country        Date   value
0  Cumulative number of confirmed, probable and s...  Guinea  2015-03-10  3285.0
1         Cumulative number of confirmed Ebola cases  Guinea  2015-03-10  2871.0
2          Cumulative number of probable Ebola cases  Guinea  2015-03-10   392.0
3         Cumulative number of suspected Ebola cases  Guinea  2015-03-10    22.0
4  Cumulative number of confirmed, probable and s...  Guinea  2015-03-10  2170.0