In [167]:
import pandas as pd
import numpy as np
import re

In [3]:
filename = "/Users/actify/Documents/Projects/digvijay_cement/dc_data-input/1 DC Kiln/DC Kiln 2016/daily_kiln_log_sched_20160101_a_day_daily.xls"

In [10]:
data=pd.read_excel(filename ,skiprows=12, header=None)

In [468]:
def read_and_transform_file(filename):
    
     
    df = pd.read_excel(filename, skiprows=6, header=None,nrows=30)
    
#      Extracting the column names
    col_names=df.iloc[0:5, :].ffill(axis=1).T
    col_names = col_names.replace(np.nan, '', regex=True)
    col_names = col_names[0] + "_" + col_names[1] + "_" + col_names[2] +"_" + col_names[3] + "_" + col_names[4]
    col_names[0]='TIME'
    
#     Extracting the data
    df=df.iloc[6:,:]
    
#     Setting column names
    df.columns=col_names    
    
#     Adding date column
    dt=re.search("([0-9]{4}[0-9]{2}[0-9]{2})", filename).group(1)
    
    df['Date'] = dt
    df['TIME'] = pd.to_datetime(df['Date'] + ' ' + df['TIME'], format = "%Y%m%d %H.%M")
#     date_col = pd.to_datetime(df['Date'], infer_datetime_format = True)
    df.set_index('TIME', drop = True, inplace=True)
    df.drop(['Date'], inplace=True, axis =1)
    df=df.astype('float64')
    df['Date'] = pd.to_datetime(dt)
    
#     df['TIME']=time
    
    
    return df

In [470]:
df=read_and_transform_file(filename)
df.head()

,TOTAL FEED____T / Hr.,COAL_KILN ST.___T / Hr.,COAL_CAL. ST.___T / Hr.,KILN HOOD_DRFT___mmWg,KILN HOOD_SEC._AIR_TMP_OC,B.Z. TEMP_SEC._AIR_TMP_0C,KILN_SPD_AIR_TMP_RPM,KILN_PWR_AIR_TMP_KW,KILN_TRQ_AIR_TMP_N,KILN I/L_PRESS_AIR_TMP_mmWg,...,KILN STRING TEMP. & DRAFT_CYCLONE II_GAS_BOT_OC,KILN STRING TEMP. & DRAFT_CYCLONE II_DRFT_BOT_mmWg,KILN STRING TEMP. & DRAFT_TWIN CYC._DRFT_I_mmWg,KILN STRING TEMP. & DRAFT_TWIN CYC._DRFT_II_mmWg,AFTER P. H._BFR WTR SPR_DRFT_II_0C,AFTER P. H._AFT WTR SPR_DRFT_II_0C,AFTER P. H._BFR WTR SPR_DRFT_II_mmWg,AFTER P. H._AFT WTR SPR_DRFT_II_mmWg,AFTER P. H._O2_DRFT_II_%,Date
TIME,,,,,,,,,,,,,,,,,,,,,
2016-01-01 00:00:00,202.114838,0.393243,-0.036237,-0.321139,423.645966,NaN,-0.01094,0.747253,12.248096,-0.305691,...,343.456818,-3.445259,-3.989282,-4.981008,274.361237,176.547211,-6.361760,22.307352,13.455415,2016-01-01
2016-01-01 01:00:00,202.074539,0.137712,-0.037085,-0.334760,417.690460,NaN,-0.01094,0.747253,12.248096,-0.444140,...,353.363739,-3.927147,-5.088862,-5.563694,286.266724,185.005585,-7.163548,22.460649,14.570502,2016-01-01
2016-01-01 02:00:00,202.096024,0.024839,-0.036813,-0.331994,438.170807,NaN,-0.01094,0.747253,12.248096,-0.366063,...,361.227539,-4.031543,-7.628544,-6.030390,293.701355,187.956985,-7.430808,22.332447,14.135745,2016-01-01
2016-01-01 03:00:00,202.097290,0.421759,-0.038170,-0.406152,392.669525,NaN,-0.01094,0.747253,12.248096,-0.339337,...,379.591492,-4.703706,-8.678606,-6.638176,306.638794,195.434753,-8.157981,22.425383,13.344450,2016-01-01
2016-01-01 04:00:00,202.104874,0.036769,-0.037159,-0.082405,413.512360,NaN,-0.01094,0.747253,12.248096,-0.947158,...,395.075134,-5.940782,-9.884008,-7.912764,320.173431,203.510971,-9.380685,22.228331,14.398628,2016-01-01

In [471]:
df.groupby('Date').agg(['mean', 'max', ''])

           TOTAL FEED____T / Hr.             COAL_KILN ST.___T / Hr.  \
                             sum        mean                     sum
Date
2016-01-01           3296.010361  137.333765               83.834385

                     COAL_CAL. ST.___T / Hr.           KILN HOOD_DRFT___mmWg  \
                mean                     sum      mean                   sum
Date
2016-01-01  3.493099              117.727637  4.905318              -34.4707

                     KILN HOOD_SEC._AIR_TMP_OC              ...  \
                mean                       sum        mean  ...
Date                                                        ...
2016-01-01 -1.436279              15345.333527  639.388897  ...

           AFTER P. H._BFR WTR SPR_DRFT_II_0C              \
                                          sum        mean
Date
2016-01-01                        8950.603088  372.941795

           AFTER P. H._AFT WTR SPR_DRFT_II_0C              \
                                          sum        mean
Date
2016-01-01                        7193.144623  299.714359

           AFTER P. H._BFR WTR SPR_DRFT_II_mmWg              \
                                            sum        mean
Date
2016-01-01                          4898.511914  204.104663

           AFTER P. H._AFT WTR SPR_DRFT_II_mmWg              \
                                            sum        mean
Date
2016-01-01                          5901.444124  245.893505

           AFTER P. H._O2_DRFT_II_%
                                sum      mean
Date
2016-01-01               205.352587  8.556358

[1 rows x 52 columns]

In [440]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 24 entries, 2016-01-01 00:00:00 to 2016-01-01 23:00:00
Data columns (total 27 columns):
TOTAL FEED___                                      24 non-null float64
COAL_KILN ST.__                                    24 non-null float64
COAL_CAL. ST.__                                    24 non-null float64
KILN HOOD_DRFT__                                   24 non-null float64
KILN HOOD_SEC._AIR_TMP                             24 non-null float64
B.Z. TEMP_SEC._AIR_TMP                             12 non-null float64
KILN_SPD_AIR_TMP                                   24 non-null float64
KILN_PWR_AIR_TMP                                   24 non-null float64
KILN_TRQ_AIR_TMP                                   24 non-null float64
KILN I/L_PRESS_AIR_TMP                             24 non-null float64
KILN I/L_O2_AIR_TMP                                24 non-null float64
KILN STRING TEMP. & DRAFT_CYCLONE  IV_GAS_TMP      24 non-null float64
KILN STRING TEMP. & DRAFT_CYCLONE  IV_MT_TMP       24 non-null float64
KILN STRING TEMP. & DRAFT_CYCLONE  IV_DRFT_BOT     24 non-null float64
KILN STRING TEMP. & DRAFT_CYCLONE  IV_EX._BOT      24 non-null float64
KILN STRING TEMP. & DRAFT_CYCLONE  III_GAS_BOT     24 non-null float64
KILN STRING TEMP. & DRAFT_CYCLONE  III_DRFT_BOT    24 non-null float64
KILN STRING TEMP. & DRAFT_CYCLONE  II_GAS_BOT      24 non-null float64
KILN STRING TEMP. & DRAFT_CYCLONE  II_DRFT_BOT     24 non-null float64
KILN STRING TEMP. & DRAFT_TWIN CYC._DRFT_I         24 non-null float64
KILN STRING TEMP. & DRAFT_TWIN CYC._DRFT_II        24 non-null float64
AFTER P. H._BFR WTR SPR_DRFT_II                    24 non-null float64
AFTER P. H._AFT WTR SPR_DRFT_II                    24 non-null float64
AFTER P. H._BFR WTR SPR_DRFT_II                    24 non-null float64
AFTER P. H._AFT WTR SPR_DRFT_II                    24 non-null float64
AFTER P. H._O2_DRFT_II                             24 non-null float64
Date                                               24 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(26)
memory usage: 5.9 KB

In [454]:
df.shape

(24, 27)

In [ ]:
df = pd.read_excel(filename, skiprows=6, header=None,nrows=30)

In [461]:
col_names=df.iloc[0:5, :].ffill(axis=1).T
col_names

                            0             1     2    3        4
0                        TIME           NaN   NaN  NaN      NaN
1                  TOTAL FEED           NaN   NaN  NaN  T / Hr.
2                        COAL      KILN ST.   NaN  NaN  T / Hr.
3                        COAL      CAL. ST.   NaN  NaN  T / Hr.
4                   KILN HOOD          DRFT   NaN  NaN     mmWg
5                   KILN HOOD          SEC.   AIR  TMP       OC
6                   B.Z. TEMP          SEC.   AIR  TMP       0C
7                        KILN           SPD   AIR  TMP      RPM
8                        KILN           PWR   AIR  TMP       KW
9                        KILN           TRQ   AIR  TMP        N
10                   KILN I/L         PRESS   AIR  TMP     mmWg
11                   KILN I/L            O2   AIR  TMP        %
12  KILN STRING TEMP. & DRAFT   CYCLONE  IV   GAS  TMP       OC
13  KILN STRING TEMP. & DRAFT   CYCLONE  IV    MT  TMP       OC
14  KILN STRING TEMP. & DRAFT   CYCLONE  IV  DRFT  BOT     mmWg
15  KILN STRING TEMP. & DRAFT   CYCLONE  IV   EX.  BOT     mmWg
16  KILN STRING TEMP. & DRAFT  CYCLONE  III   GAS  BOT       OC
17  KILN STRING TEMP. & DRAFT  CYCLONE  III  DRFT  BOT     mmWg
18  KILN STRING TEMP. & DRAFT   CYCLONE  II   GAS  BOT       OC
19  KILN STRING TEMP. & DRAFT   CYCLONE  II  DRFT  BOT     mmWg
20  KILN STRING TEMP. & DRAFT     TWIN CYC.  DRFT    I     mmWg
21  KILN STRING TEMP. & DRAFT     TWIN CYC.  DRFT   II     mmWg
22                AFTER P. H.   BFR WTR SPR  DRFT   II       0C
23                AFTER P. H.   AFT WTR SPR  DRFT   II       0C
24                AFTER P. H.   BFR WTR SPR  DRFT   II     mmWg
25                AFTER P. H.   AFT WTR SPR  DRFT   II     mmWg
26                AFTER P. H.            O2  DRFT   II        %

In [463]:
col_names = col_names.replace(np.nan, '', regex=True)
col_names

                            0             1     2    3        4
0                        TIME
1                  TOTAL FEED                           T / Hr.
2                        COAL      KILN ST.             T / Hr.
3                        COAL      CAL. ST.             T / Hr.
4                   KILN HOOD          DRFT                mmWg
5                   KILN HOOD          SEC.   AIR  TMP       OC
6                   B.Z. TEMP          SEC.   AIR  TMP       0C
7                        KILN           SPD   AIR  TMP      RPM
8                        KILN           PWR   AIR  TMP       KW
9                        KILN           TRQ   AIR  TMP        N
10                   KILN I/L         PRESS   AIR  TMP     mmWg
11                   KILN I/L            O2   AIR  TMP        %
12  KILN STRING TEMP. & DRAFT   CYCLONE  IV   GAS  TMP       OC
13  KILN STRING TEMP. & DRAFT   CYCLONE  IV    MT  TMP       OC
14  KILN STRING TEMP. & DRAFT   CYCLONE  IV  DRFT  BOT     mmWg
15  KILN STRING TEMP. & DRAFT   CYCLONE  IV   EX.  BOT     mmWg
16  KILN STRING TEMP. & DRAFT  CYCLONE  III   GAS  BOT       OC
17  KILN STRING TEMP. & DRAFT  CYCLONE  III  DRFT  BOT     mmWg
18  KILN STRING TEMP. & DRAFT   CYCLONE  II   GAS  BOT       OC
19  KILN STRING TEMP. & DRAFT   CYCLONE  II  DRFT  BOT     mmWg
20  KILN STRING TEMP. & DRAFT     TWIN CYC.  DRFT    I     mmWg
21  KILN STRING TEMP. & DRAFT     TWIN CYC.  DRFT   II     mmWg
22                AFTER P. H.   BFR WTR SPR  DRFT   II       0C
23                AFTER P. H.   AFT WTR SPR  DRFT   II       0C
24                AFTER P. H.   BFR WTR SPR  DRFT   II     mmWg
25                AFTER P. H.   AFT WTR SPR  DRFT   II     mmWg
26                AFTER P. H.            O2  DRFT   II        %

In [464]:
col_names = col_names[0] + "_" + col_names[1] + "_" + col_names[2] +"_" + col_names[3] + "_" + col_names[4]

In [467]:
col_names.str.endswith('_')

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
dtype: bool